<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="MainTest">
  <listeners>
    <listener class-name="common.Listeners" />
  </listeners>
  <test name="CheckResults">
    <groups>
      <run>
        <include name="testResult" />
      </run>
    </groups>
    <classes>
      <class name="base.BaseTest"/>
      <class name="testcase.CheckResults"/>
    </classes>
</test> <!-- Test -->


</suite> <!-- Suite -->
