<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="MainTest">
  <test name="Homepage">
    <groups>
      <run>
        <include name="headerTest" />
      </run>
    </groups>
    <classes>
      <class name="testcase.GroupTest"/>
      <class name="testcase.AboutPage"/>
    </classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->
