<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="HomepageSmokeTest">
  
  <test thread-count="5" name="Homepage">
    <classes>	    
      <class name="testcase.HomepageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
